
ul{

    list-style-type: disc;
    padding: 30px;
    margin: 20px;
    background-color: cyan;
}
ul li
{
    padding: 5px;
    margin: 5px;
}
#div_img {
    width: 100%;
}
img{
    width: 100%;
}
h3{
    font-size: 30px;
}
h2{
    margin-left: 20px;
    font-size: 30px;
}