ul{

    list-style-type: disc;
    padding: 30px;
    margin: 20px;
    background-color: cyan;
}
ul li
{
    padding: 5px;
    margin: 5px;
}
#div_img {
    width: 100%;
    margin-bottom: 50px;
}
img{
    width: 100%;
}
h3{
    font-size: 30px;
    margin-left: 20px;
}
h2{
  
    font-size: 30px;
    margin-left: 20px;
}
tr, td,table {
    margin: 0px;
    padding: 3px;
    border: 2px solid black;
    outline: 0;
    font-size: 100%;

}
table{
    text-size-adjust: 16px;
}